<div class="card">
  <div class="card-header">
    <h1 class="headerTitle">{{ pageTitle }}</h1>
  </div>
  <!-- need an NG if and display the table if there are messages, then -->
  These are your current messages
  <div class="card-body">
    <table class="table-responsive">
      <thead>
        <tr>
          <th>date</th>
          <th>from</th>
          <th>message</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>23/05/1979</td>
          <td>bob smith</td>
          <td>this is a test</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
