<div class="main-header">
  <img src="../assets/images/orb-and-cross.jpg" aria-label="orb and cross" />
  <login-component></login-component>
  <a class="navbar-brand" routerLink="/welcome">
    <h1>{{ siteTitle }}</h1></a
  >

  <div class="second-row-right"><dark-mode-slider></dark-mode-slider></div>
  <h4>To know christ and make him known</h4>

  <nav class="main-navbar navbar navbar-expand">
    <ul class="'nav navbar-nav nav-pills">
      <li>
        <a class="nav-element" ariaLabel="home" routerLink="/welcome">Home</a>
      </li>
      <li>
        <a class="nav-element" routerLink="/events" routerLinkActive="active"
          >Events</a
        >
      </li>
      <li>
        <a class="nav-element" routerLink="/about" routerLinkActive="active"
          >About</a
        >
      </li>
      <li>
        <a class="nav-element" routerLink="/contact" routerLinkActive="active"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</div>
