<nav class="login-navbar navbar navbar-expand">
  <ul class="welcome nav navbar-nav nav-pills">
    <li *ngIf="isLoggedIn">
      <a>Welcome {{ userName }}</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a class="nav-element" routerLink="/login">Log In</a>
    </li>
    <li *ngIf="isLoggedIn" routerLink="/messages">
      <a class="nav-element">View Messages</a>
    </li>
    <li *ngIf="isLoggedIn" routerLink="/welcome">
      <a class="nav-element">Log Out</a>
    </li>
  </ul>
</nav>
<!-- <nav class="login-navbar navbar navbar-expand">
  <ul class="'nav navbar-nav nav-pills">
    <li *ngIf="isLoggedIn">
      <a class="nav-element">welcome {{ userName }}</a>
    </li>
    <li>
      <a
        class="nav-element"
        aria-label="[routerLink]"
        ="[{ outlets: { sidePanel: ['messagesPanel'] } }]"
        >show messages
      </a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a class="nav-element" routerLink="/login">Log In</a>
    </li>
    <li *ngIf="isLoggedIn" routerLink="/welcome">
      <a class="nav-element">Log Out</a>
    </li>
  </ul>
</nav> -->
