<h1 class="headerTitle">{{ pageTitle }}</h1>

<p>
  Welcome to hillside Methodist Church, a church in the heart of the community.
</p>

<p>
  We at Hillside are committed to proclaiming the message of Christ which we
  find as relevant in today&#39;s world as it was two thousand years ago. To
  that end, we offer various Bible studies for Adults including Alpha and
  Disciple, a youth club for our children, an assortment of fellowship events
  from our monthly fell walking to weekly line dancing in addition to our Sunday
  services.
</p>

<p>
  We also have a wonderful music ministry with an active choir led by Raymond
  Smith which meets on Friday nights for rehearsal and fellowship. Finally we
  are the Methodist component in the Brinscall St John&#39;s C.E./Methodist
  Primary School and we are committed to our warm ongoing relationship with the
  students, parents and staff there.
</p>

<h2>Join Us</h2>
<p>Join us for sunday services at 10am.</p>
<h3>Format of a service</h3>
<p>
  Most sundays sevices children spend the first 20-30 minutes in the church
  before leaving to join the sunday school
</p>
<h4>What if my child is noisy?</h4>
<p>
  That's FINE, we love having children in our congregation and know that being a
  bit noisy is part of being a child we try to make services accessible to
  children with ways to allow children to join in and take part.
</p>
